<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator
    finds an attribute "name" that has a value of "MyDB".

    <connectionStrings>
      <add name="MyDB"
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <appSettings>
    <add key="ida:ClientId" value="5b492816-12e5-4472-aa9c-4521f69d7ec3" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ida:PostLogoutRedirectUri" value="https://msfincontosoo365docsyncdev2.azurewebsites.net/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ida:ClientSecret" value="nBMZmmHHQFk5EXdGGvDzaN8H50e1dhe+byq5jhNtCq0=" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="SendGridMessageUserName" value="azure_b274c56313d0e808d60784d668032478@azure.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="SendGridMessagePassword" value="Dev@Canviz.com1" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="SendGridMessageToAddress" value="chad.liu@canviz.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="SendGridMessageFromAddress" value="chad.liu@canviz.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="SendGridMessageFromDisplayName" value="Chad Liu" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
  <system.web>
    <!--
      In the example below, the "Replace" transform will replace the entire
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the
      <system.web> node, there is no need to use the "xdt:Locator" attribute.

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>
