<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="ida:ClientId" value="0ce5cf2d-d5b4-4fce-862c-19b1dbf35275" />
    <add key="ida:AADInstance" value="https://login.microsoftonline.com/" />
    <add key="ida:Domain" value="cand3.onmicrosoft.com" />
    <add key="ida:TenantId" value="0534985e-032e-430a-9b95-60f5277b96f4" />
    <add key="ida:ClientSecret" value="f43DyPGIvjZ9JAG42ZTMNdkovWaYWuaMfaM0p6ltorg=" />
    <add key="ida:PostLogoutRedirectUri" value="https://msfincontosoo365docsyncd.azurewebsites.net" />
    <add key="InstrumentationKey" value="096973c1-44d3-4d24-aad2-a6f1c4698168" />
    <add key="ResourceId" value="https://graph.microsoft.com" />
    <add key="SharePointUrl" value="https://cand3.sharepoint.com" />
    <add key="Key" value="23, 7, 19, 11, 24, 226, 85, 45, 114, 184, 27, 162, 37, 112, 222, 209, 241, 24, 175, 144, 176, 53, 196, 29, 24, 26, 17, 218, 131, 236, 53, 209" />
  </appSettings>
  <connectionStrings>
    <add name="AzureWebJobsDashboard" connectionString="Qmtr55JOuhjdtmZvTlaoxhwgymqe6mF4UkEn9ZbjhUZAU26//acNJmK16PoMB3cL0EM6RwmxUjbn1Il/yG8EeopOJwa81zknW7FztaaWfE7nCWRiSUDXGmltdk4gkZMIAEJ2Gs37hJj94H8CbUhHa8yKoRcE3X5+zHhTI6CtxiZ8fm4VqG+B+XoOKDCMxn1yJssINLT0X/cezbKIASMx5lqo6UdgBar9HwnSBPSjpoObOz0jzCMZk6Qqx22zT6en" />
    <add name="AzureWebJobsStorage" connectionString="Qmtr55JOuhjdtmZvTlaoxhwgymqe6mF4UkEn9ZbjhUZAU26//acNJmK16PoMB3cL0EM6RwmxUjbn1Il/yG8EeopOJwa81zknW7FztaaWfE7nCWRiSUDXGmltdk4gkZMIAEJ2Gs37hJj94H8CbUhHa8yKoRcE3X5+zHhTI6CtxiZ8fm4VqG+B+XoOKDCMxn1yJssINLT0X/cezbKIASMx5lqo6UdgBar9HwnSBPSjpoObOz0jzCMZk6Qqx22zT6en" />
    <add name="DefaultConnection" connectionString="qEjoH4e2gKWfWk+Fzt90kphvMMvErNTt+F5dHq/7Z2/NV/WzlcCGi5sXqoAOEuxaYAS6aEbBOH8WZfx2cPSqO9Dz5QmkblFw/pJ5XNmY7ZF5DLhx+9bm4lDhIE4Fyhw+EAKCqocG4QNsvgcGqCdMc1ki0TTvISbAxqgT8ZlHpfaFUYRDmSXCaksSFUle69h0FY3i0458L+lVB+ImRtoxYn3Lnf0nY0ValK2wYRnbS0Er5Ya38qU/j3ymHbGZEKAq02mKlWJzrmeWgxH4HAb/tsn0cMjvHkMoQRV2XMdLe/CSOv7hWUAnjnWHdeKsPfsI" providerName="System.Data.SqlClient" />
    <!--<add name="DefaultConnection" connectionString="data source=(LocalDb)\MSSQLLocalDB;initial catalog=ContosoO365DocSyncClone;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.6" />
    <customErrors mode="Off" />
    <httpRuntime targetFramework="4.6" maxRequestLength="409600" />
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Clients.ActiveDirectory" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.28.0.725" newVersion="2.28.0.725" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="DefaultConnection" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>