<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <appSettings>
    <add key="ida:ClientId" value="5b492816-12e5-4472-aa9c-4521f69d7ec3" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ida:AADInstance" value="https://login.microsoftonline.com/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ida:Domain" value="cand3.onmicrosoft.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ida:TenantId" value="0534985e-032e-430a-9b95-60f5277b96f4" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ida:PostLogoutRedirectUri" value="https://localhost:44394/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="InstrumentationKey" value="fe4fc456-c9dd-49bb-a1a5-56cf6b18fd87" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="SendGridMessageUserName" value="azure_b274c56313d0e808d60784d668032478@azure.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="SendGridMessagePassword" value="Dev@Canviz.com1" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="SendGridMessageToAddress" value="chad.liu@canviz.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/> 
    <add key="SendGridMessageFromAddress" value="chad.liu@canviz.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="SendGridMessageFromDisplayName" value="Chad Liu" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
  <connectionStrings>
    <add name="AzureWebJobsDashboard" connectionString="UseDevelopmentStorage=true" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="AzureWebJobsStorage" connectionString="UseDevelopmentStorage=true" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>